<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetJá</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bem vindos ao PetJá!</h1>
    {% if 'username' in session %}
        <a class="button" href="{{ url_for('schedule') }}">Agendar Consulta</a>
        <a class="button" href="{{ url_for('view_appointments') }}">Ver Consultas Agendadas</a>
        <a class="button" href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a class="button" href="{{ url_for('login') }}">Login</a>
        <a class="button" href="{{ url_for('register') }}">Register</a>
    {% endif %}
</body>
</html>
